spring:
  application:
    name: ms-account

    rabbitmq:
      host: localhost
      port: 5672
      username: guest
      password: guest

  datasource:
    url: jdbc:postgresql://localhost:5433/todoappdb
    username: postgres
    password: nihad2005
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  liquibase:
    change-log: classpath:/db/changelog/master.yml

server:
  port: 8081
